@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 90px 10% 60px;
  flex-wrap: wrap;
  gap: 40px;
  z-index: 1;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  max-width: 600px;
}

.title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 25px;
  font-family: var(--font-roboto);
  color: var(--color-primary);
}

.description {
  font-size: 22px;
  font-family: var(--font-roboto);
  color: var(--color-muted);
  margin-bottom: 40px;
  line-height: 1.6;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: #000;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 24px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(10, 148, 203, 0.726);
}

.contactBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(18, 146, 216, 0.649);
}

.heroImg {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;

  animation: floating 3s ease-in-out infinite;
  border: 3px solid var(--color-secondary);
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    justify-content: center;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 42px;
    margin-top: 10px;
  }

  .description {
    font-size: 18px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

