@import "../../vars.css";

.container {
  color: var(--color-text);
  padding: 60px 10%;
  text-align: center;
  background-color: var(--color-bg);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--color-text);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
  width: 380px;
  transition: transform 0.3s ease;
  animation: fadeInUp 0.6s ease forwards;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--color-text);
}

.card img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.link {
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
  color: var(--color-text);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-primary)
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
