:root {
    --color-bg: #151515;  
    --color-dark: #1e1e1e;
    --color-secondary: #282828;
    --color-primary: #1ba4d6;   
    --color-text: #f3f4f6;    
    --color-muted: #a1a1aa;      
  
    --font-robot: "Roboto", sans-serif;
  }
  